.navbar {
  padding: 1.5rem 2rem;
  .navbar-brand {
    font-size: 2rem !important;
    
  }
 
.logo-img{
  width: 70px;
}

  .nav-link {
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
  }
  .nav-link:hover{
    color: rgb(199, 194, 194);
  }

  .btn {
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
  }
}



