@mixin format_btn {
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

@mixin scroll {
  scrollbar-width: thin;
  scrollbar-color: $dark rgba(194, 198, 243, 0.247);
  @include respond(phone) {
    scrollbar-width: none;
  }
  &::-webkit-scrollbar {
    width: 4px !important; /* width of the entire scrollbar */
    display: none !important;
  }
  &::-webkit-scrollbar-track {
    background: rgba(194, 198, 243, 0.247);
    border: none; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    // border: 3px solid orange; /* creates padding around scroll thumb */
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == tab-land-one {
    @media (max-width: 1400px) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 1500px) {
      @content;
    }
  }

  @if $breakpoint == large-screens {
    @media (min-width: 1500px) {
      @content;
    }
  }
}
