$shadow: 0 0 15px rgb(214, 214, 214);
$deep_outer-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
$deep_inner-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), 4px 4px 6px -1px rgba(255, 255, 255, 0.2),
  0.5px 0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
$purple: #8946c3;
$grey: #43415a;
$blue: #6c63ff;
$dark: #36175e;
$gray_2: #707070;
